{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1 class="bg-warning text-center mt-3">Ajouter un Épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn bg-primary text-white"  href="{{ path('episode_index') }}">Retour à la liste</a>
{% endblock %}
