<div class="container w-50 mt-5">
    {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
    {{ form_widget(form) }}
    <button class="btn bg-warning save float-right">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>
