{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Éditer un programme{% endblock %}

{% block body %}
    <h1 class="bg-warning text-center mt-3">Éditer un Programme</h1>
<div class="container">
    {{ include('program/_form.html.twig') }}

   <div class="container d-flex justify-content-center">
    <a class="btn bg-primary mr-2" href="{{ path('program_index') }}">Retour à la liste</a>

    {{ include('program/_delete_form.html.twig') }}
   </div>
</div>
{% endblock %}
