$theme-colors: (
        "primary": #45858C,
        "danger": #A0D9D9,
        "warning":#D9B166,
        "sucess": #D3D3D3,

);
$grey: #D3D3D3;

.align-self-start.mr-3.poster {
    width: 300px;
}
div.form-control {
 background-color: lightgrey !important;
}


@import "~bootstrap/scss/bootstrap";

body {
  background-color: $grey!important;
  font-family: 'Nanum Gothic', sans-serif;
}
h1,h2,h3,h4 {
  font-family: 'Open Sans', sans-serif;
}

img.index {
  width: 200px;
}

th {
  font-weight: bold;
}

.button-s {
  margin-bottom: -15px;
  margin-top: 5px;
}

.invalid-feedback {
  color: black !important;
}

.container-image {
   img {
     max-height: 500px;
   }
 }
.font-size {
  font-size: 20px;
}

li {
  list-style-type: none;
}

a.watchlist:hover {
  color: #45858C;
}

a.active:hover {
  color: red;
}
.active {
  color: red;
    }



