$theme-colors: (
        "primary": #45858C,
        "danger": #A0D9D9,
        "warning":#D9B166
);

body {
   background-color: lightgrey !important;
}
.align-self-start.mr-3.poster {
    width: 300px;
}



@import "~bootstrap/scss/bootstrap";