{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center bg-warning mt-3"> {{ bienvenue }}</h1>
{% for program in programs %}
    <a href="{{ path('show_program', { id: program.id }) }}">{{program.title}}</a>
    <br>
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Toutes les séries !
    </a>
{% endblock %}
